<h1>Signup form</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username"></input>
    <input type="password" placeholder="password" name="password"></input>
    <button>Submit</button>
</form>

<li> <a href="/register">Sign Up!</a> </li>
<li> <a href="/login">Login!</a> </li>
<li> <a href="/logout">Logout!</a> </li>