<h1>Friends list goes here</h1>

<% friends.forEach(function (friend) { %>
    <li>I have a friend <%= friend%></li>
<% }); %>

<form action="/addfriend" method="POST">
    <input type="text" placeholder="name" name="newFriend"></input>
    <button>Add friend to list</button>
</form>